*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/config/database.yml
Gemfile.lock
/db/schema.rb
.DS_Store
/lib/pingan_api
/config/certs/*
start.sh
stop.sh
dump.rdb
config/unicorn.rb
/public/export_datas
/public/import_datas
/public/uploads
/public/assets