<% content_for :page_title do %>
<%= render "title_bar" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="portlet box">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <%= form_for(@position, html: { class: "form-horizontal"}) do |f| %>
          <div class="form-body">
            <%= f.error_messages %>
            <h4 class="form-section">基本信息</h4>
            <div class="form-group">
              <%= render "shared/column_triple", :name => "名称", :content =>  f.c_text_field(:name) %>
            </div>
            
            <div class="form-actions right">
              <button type="submit" class="btn">保存</button>
            </div>
        <% end %>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>

