<% content_for :page_title do %>
<%= render "title_bar" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="portlet box">
      <div class="dataTables_wrapper form-inline" role="grid">
        <div class="row">
          <div class="col-md-12 col-sm-12">
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>名称</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @positions.each do |item| %>
                <tr>
                  <td><%= item.name %></td>
                  <td>
                    <%= link_to '编辑', edit_position_path(item) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @positions %>
        </div>
      </div>
    </div>
  </div>
</div>