<% content_for :page_title do %>
<h3 class="page-title">
控制台 <small></small>
</h3>
<ul class="page-breadcrumb breadcrumb">
  <li>
    <i class="fa fa-home"></i>
    <a href="/">
      控制台
    </a>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <a href="#">
      系统概要
    </a>
  </li>
</ul>
<% end %>